body,
html{
    padding: 0px;
    margin: 0px;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: grid;
    gap: 0px;
    margin: 0px;
    border : solid;
    border-color: black;
    width: 500px;
    height: 500px;
}
.square{
    background-color: blueviolet;
    color: white;
    width: auto;
    height: auto;
    text-align: center;
    text-justify: center;
    /* border: solid;
    border-color: black; */
    height: auto;
    width: auto;
    margin: 0px;
}
input{

}